#fadein {
	height: 100px;
	width: 100px;
	display: block;
	background-color: blue;
	text-align: center;
	margin: 10px;
}

p {
	height: 200px;
	width: 200px;
	margin: 2px;
	background-color: red;
	display: inline-block;
}