table {
	height: 750px;
	width: 750px;
	margin: auto;
	overflow: hidden;
}

div {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #e6e6e6;
}

.black {
	background-color: black;
	opacity: 1;
}